.quill-editor {
  position: relative;

  .ql-toolbar > span, .ql-toolbar > button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    width: 30px;
    padding: 3px 5px;
  }

  .ql-toolbar > span > *:first-child, .ql-toolbar > button > *:first-child {
    width: 100%;
    height: 100%;
  }

  .el-color-picker__trigger {
    border: none;
  }

  .el-color-picker__color {
    display: none;
  }

  .ql-color-picker>.el-color-picker::before {
    content: 'A';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #333;
    width: 100%;
    height: 100%;
    font-size: 20px;
  }

  .ql-picker.ql-size > .ql-picker-label, .ql-picker.ql-textIndent > .ql-picker-label, .ql-picker.ql-lineHeight > .ql-picker-label {
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: #333;
      font-size: 20px;
    }

    & > svg {
      display: none;
    }
  }

  .ql-picker.ql-size > .ql-picker-label::before {
    content: 'T';
  }

  .ql-textIndent.el-icon-s-fold::before {
    display: none;
  }

  .ql-lineHeight > .ql-picker-label::before {
    content: 'L';
  }

  .ql-textIndent.el-icon-s-fold > .ql-picker-label::before {
    content: '\e7a9';
  }

  .ql-toolbar.ql-snow .ql-picker-label {
    display: flex;
    outline: 0;
    padding: 0;
    text-align: center;
  }

  .ql-snow .ql-color-picker .ql-picker-label svg, .ql-snow .ql-icon-picker .ql-picker-label svg {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    color: #333;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
  }

  .ql-container {
    min-height: 120px;
    max-height: 400px;
    overflow-y: auto;
  }

  .ql-picker.ql-size .ql-picker-item:before, .ql-picker.ql-textIndent .ql-picker-item:before, .ql-picker.ql-lineHeight .ql-picker-item:before {
    content: attr(data-value);
  }

  .ql-snow .ql-picker-options .ql-picker-item {
    line-height: 1.8;
    padding: 0;
  }
}