.quill-editor {
  width: 100%;
  position: relative;

  .ql-container {
    width: 100%;
    min-height: 150px;
  }

  .ql-toolbar {
    .ql-item, button {
      height: 26px;
      width: 30px;
      background: none;
      border: none;
      cursor: pointer;
      display: inline-block;
      float: left;
      margin: 1px;

      &:hover {
        background-color: #f3f4f6;
      }

      .ql-picker {
        width: 100%;
        height: 100%;
        margin: 0;

        .ql-picker-label, .el-color-picker {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none !important;
          padding-left: 0;
          padding-right: 0;

          & > svg {
            width: 20px;
            height: 20px;
          }
        }
      }

      .ql-custom-picker {
        .ql-picker-label, .el-color-picker {
          &::before {
            font-size: 20px;
          }

          & > svg {
            display: none;
          }
        }

        .ql-picker-options {
          .ql-picker-item {
            padding: 0 5px;
            line-height: 30px;

            &:before {
              content: attr(data-value);
            }
          }
        }
      }
    }
  }

  .el-color-picker__trigger {
    display: none;
  }

  .ql-color-picker>.el-color-picker::before {
    content: 'A';
    font-weight: bold;
  }

  .ql-picker.ql-size > .ql-picker-label::before {
    content: 'T';
    font-weight: bold;
  }

  .ql-picker.ql-lineHeight > .ql-picker-label::before {
    content: 'L';
    font-weight: bold;
  }

  .ql-picker.ql-textIndent > .ql-picker-label::before {
    content: '';
    width: 20px;
    height: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAL5JREFUOE+1kz0OAiEQhd80lHYWJpYewQPoIdyeZOFOQLiAXsBOKztLPYGxtLQdo4lm178AGaiHjy/vDQThQ8I81AMaYzZENCsxZuZtCGF+v/syFAeWmH27Uy/D7mvW2h2Ak/e+yTXvGWqth0qpCTOvAQwArHKhKaU8oP9Ky2qZiPbOuWk28C3DJYAFgAMRNc65Y2qWHy1ba0cAziWw3mJ3Ddq2HTPzNcZ4STV7ztXbQ/GvJw7MzerXfL0MpQxveExbFWYWCGEAAAAASUVORK5CYII=') 0 0 / 100% 100% no-repeat;
    font-weight: bold;
  }

  .ql-picker.ql-textIndent > .ql-picker-label.ql-active::before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAMNJREFUOE9jZKAyYKSyeQy0M1A1+fV+BgYGBzJdfOD2XFFHkF64C6luIJkuw9BGuzBEtko1+c0xRgaGJ7fmioSR6nIUF6okfhZlYPymwsjAtIOBkYGPkYFxNamGEowUmKEEIo34WGZkYDh7a66oCckGIoeVWvKrVf8ZGEMZGBiv/v/HGHZnvvA1YsMSI5Y1015L/vnL8Iwcw1ASNrILVFLeyrD/Z/l2dS7/O2JdBlNHu3RI9axHdQNJDStc6mkXhtRyIQBMnEwVvyWvzQAAAABJRU5ErkJggg==');
  }
}